*.pt
*.pth
*.pkl
*.onnx
*.pyc
*.zip
weights
__pycache__
data/cifar/
vis_results/
cifar_data/
pai_pretrain.sh
pai_finetune.sh
pai_linprobe.sh
pai_pretrain.py
pai_finetune.py
pai_linprobe.py
odps_config.ini